::-webkit-scrollbar {
  background: #1d1d1d;
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 5px;
  border: 2px solid #1d1d1d;
}

/* Cor do "thumb" enquanto arrasta */
::-webkit-scrollbar-thumb:active {
  background-color: #00af00;
}

::-webkit-scrollbar-scroll {
  padding: 4px !important;
  margin: 4px !important;
}
